.centroid:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.centroid .child {
  display: inline-block;
  vertical-align: middle;
}
#app-header-container {
  padding: 10px;
  border-bottom: 2px solid #E6E6E6;
}
#app-header-container .row.hide-on-med-and-up {
  margin: auto;
}
#logo-container img {
  vertical-align: middle;
}
#logo-container span {
  vertical-align: middle;
}
#logo-container .big {
  color: #2E984F;
  font-size: 1.7em;
}
#logo-container .small {
  color: #B1CD5D;
  font-size: 0.8em;
}
#logo-container.s12 {
  margin-bottom: 10px;
}
#result-gist-container {
  border: 2px solid #567D33;
  background: #E0EDD5;
  border-radius: 4px;
  padding: 5px 10px;
}
#app-body-container {
  padding: 10px;
}
#user-list-container {
  margin-top: -20px;
}
#user-list-container #user-list {
  display: inline-flex;
  flex-wrap: wrap;
}
#user-list-container #user-list .card {
  margin: 10px;
}
#user-list-container #user-list .card .removeUser {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background: rgba(200, 200, 200, 0.6);
  width: 100%;
  height: 100%;
  text-align: right;
  padding: 10px;
}
#user-list-container #user-list .card .removeUser i {
  cursor: pointer;
}
#user-list-container #user-list .card .card-content {
  width: 100%;
}
#user-list-container #user-list .card:hover .removeUser {
  display: inline-block;
}
@media only screen and (max-width: 600px) {
  #app-body-container .leftContent {
    border: none;
  }
}
