@import "utility.less";

#app-header-container {
    padding: 10px;
    border-bottom: 2px solid #E6E6E6;
    //fix for mobile device
    .row.hide-on-med-and-up {
        margin: auto;
    }
}

#logo-container {
    img {
        vertical-align: middle;
    }

    span {
        vertical-align: middle;
    }

    .big {
        color: #2E984F;
        font-size: 1.7em;
    }

    .small {
        color: #B1CD5D;
        font-size: 0.8em;
    }
    // mobile device
    &.s12 {
        margin-bottom: 10px;
    }
}

#result-gist-container {
    border: 2px solid #567D33;
    background: #E0EDD5;
    border-radius: 4px;
    padding: 5px 10px;
}

#app-body-container {
    padding: 10px;
}

#user-list-container {
    margin-top: -20px;

    #user-list {
        display: inline-flex;
        flex-wrap: wrap;

        .card {
            margin: 10px;

            .removeUser {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                z-index: 10;
                background: rgba(200,200,200,0.6);
                width: 100%;
                height: 100%;
                text-align: right;
                padding: 10px;

                i {
                    cursor: pointer;
                }
            }

            .card-content {
                width: 100%;
            }

            &:hover {
                .removeUser {
                    display: inline-block;
                }
            }
        }
    }
}
@import "mediaQuery.less";
